/*CORES PADRÃO*/
:root {
    --max-width: 1500px;
    --font-color: #FF69B4;
    --bg-color: #fff;
    --btn-color: #8B008B;
    --font-color2: #000;
}
/*CONFIGURAÇÕES INICIAIS DA APLICAÇÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    background-color: var(--bg-color);
    padding-top: 50px;
}
/*ESTILIZANDO O CABEÇALHO*/
header {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
}

.box-icons {
    display: flex;
    gap: 12px;
    margin-left: 150px;
}

.location {
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.location:hover {
    background: var(--font-color);
    border-radius: 20px;
}

.phone {
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.phone:hover {
    background: var(--font-color);
    border-radius: 20px;
}

h1 {
    color: var(--font-color);
    font-size: 1.9em;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 13px;
    margin-top: 10px;
}

li a {
    text-decoration: none;
    color: var(--font-color2);
    transition: 0.3s;
    font-weight: bold;
    margin-right: 20px;
}

a:hover {
    color: var(--font-color);
}
/*ESTILIZANDO O CONTEÚDO PRINCIPAL (MAIN)*/
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container .main-content {
    display: flex;
    align-items: center;
    margin: 85px;
}

.welcome {
    position: absolute;
    margin-bottom: 200px;
    color: var(--font-color);
}

.milkshake {
    height: 500px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

/*ESTILIZANDO A SECTION 1*/
.presentation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 120px 20px;
    position: relative;
}

.flavor-title {
    color: var(--font-color);
    grid-column: -1 / 1;
    text-align: center;
}

.flavors-cards {
    display: grid;
    border: 2px solid var(--font-color);
    border-radius: 15px;
    padding: 6rem;
    position: relative;
    overflow: hidden;
    margin: 1.9rem 1.9rem 1.9rem;
    text-align: center;
}

.shakes {
    height: 145px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.shakes:hover {
    transform: translateY(-25px);
}

h3 {
    margin-top: 50px;
    color: var(--font-color);
}
/*ESTILIZANDO A SECTION 2*/
.acai .box-acai {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.box-acai h3 {
    position: absolute;
    margin-bottom: 250px;
    color: var(--btn-color);
}

.cup-acai {
    height: 500px;
}

button {
    position: relative;
    margin-top: 370px;
    right: 300px;
    padding: 5px 25px;
    width: 200px;
    border: none;
    background: var(--btn-color);
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    background: var(--font-color);
    color: var(--btn-color);
}

/*ESTILIZANDO A SECTION 3 - PLAYGROUND*/
.playground .box-play {
    display: flex;
    align-items: center;
    margin: 210px;
    gap: 35px;
}

.box-play .title-play {
    position: absolute;
    margin-bottom: 300px;
    color: var(--font-color);
}

.play-img {
    height: 290px;
}