/*CORES PADRÃO*/
:root {
    --max-width: 1500px;
    --font-color: #FF69B4;
    --bg-color: #fff;
    --btn-color: #8B008B;
    --font-color2: #000;
}
/*CONFIGURAÇÕES INICIAIS DA APLICAÇÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    background-color: var(--bg-color);
    padding-top: 50px;
}
/*ESTILIZANDO O CABEÇALHO*/
header {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    animation: slide-right 3s ease-out forwards;
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.box-icons {
    display: flex;
    gap: 12px;
    margin-left: 150px;
}

.location {
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.location:hover {
    background: var(--font-color);
    border-radius: 20px;
}

.phone {
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.phone:hover {
    background: var(--font-color);
    border-radius: 20px;
}

h1 {
    color: var(--font-color);
    font-size: 1.9em;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 13px;
    margin-top: 10px;
}

li a {
    text-decoration: none;
    color: var(--font-color2);
    transition: 0.3s;
    font-weight: bold;
    margin-right: 20px;
}

a:hover {
    color: var(--font-color);
}

.botao-menu {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/*ESTILIZANDO O CONTEÚDO PRINCIPAL (MAIN)*/
.container {
    max-width: 1300px;
    margin: 0 auto;
    animation: slide-right 3s ease-out forwards;
    opacity: 0;
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container .main-content {
    display: flex;
    align-items: center;
    margin: 85px;
}

.welcome {
    position: absolute;
    margin-bottom: 200px;
    color: var(--font-color);
}

.milkshake {
    height: 500px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

/*ESTILIZANDO A SECTION 1*/
.presentation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 120px 20px;
    position: relative;
}

.flavor-title {
    color: var(--font-color);
    grid-column: -1 / 1;
    text-align: center;
}

.flavors-cards {
    display: grid;
    border: 2px solid var(--font-color);
    border-radius: 15px;
    padding: 6rem;
    position: relative;
    overflow: hidden;
    margin: 1.9rem 1.9rem 1.9rem;
    text-align: center;
}

.shakes {
    height: 145px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.shakes:hover {
    transform: translateY(-25px);
}

h3 {
    margin-top: 50px;
    color: var(--font-color);
}
/*ESTILIZANDO A SECTION 2*/
.acai .box-acai {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.box-acai h3 {
    position: absolute;
    margin-bottom: 300px;
    color: var(--btn-color);
}

.cup-acai {
    height: 500px;
}

.ask {
    position: relative;
    margin-top: 370px;
    right: 300px;
    padding: 5px 25px;
    width: 200px;
    border: none;
    background: var(--btn-color);
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.ask:hover {
    background: var(--font-color);
    color: var(--btn-color);
}

/*ESTILIZANDO A SECTION 3 - PLAYGROUND*/
.playground .box-play {
    display: flex;
    align-items: center;
    margin: 210px;
    gap: 35px;
    animation: slide-right 2s ease-in-out forwards;
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(20px);
    }
}

.box-play .title-play {
    position: absolute;
    margin-bottom: 300px;
    color: var(--font-color);
}

.play-img {
    height: 290px;
}
/*RESPONSIVIDADE - IPHONE 14 PRO MAX*/
@media screen and (max-width: 430px){
    header .box-icons {
        position: relative;
        margin: 10px;
        transform: translateY(-25px);
    }

    h1 {
       font-size: 1.5rem;
    }

    .botao-menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        max-height: 0;
    }

    .menu .ativo {
        max-height: 200px;
    }

    .container .main-content {
        flex-direction: column;
        text-align: center;
        padding: 0 auto;
    }

    .welcome {
        position: relative;
        margin-bottom: 20px;
    }

    .milkshake {
        margin-top: 50px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flavor-title {
        margin-right: 50px;
    }

    .flavors-cards {
        margin-right: 55px;
    }
}